<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration email</title>
    </head>
    <body>
        <!--<span th:text="${message}"></span>-->

        <p th:text="${userName}">, </p>

        <p>
            Welcome to our community. Your Teem (deployed by UAegean) account has been created. 
            Now it will be easier than ever to share and connect with your community. 
        </p>

        <p>
            Click <a href="http://community.mastihawonder.com/home/teems">here</a> to join our community.. 
        </p>
        <p>
            You're receiving this transactional email message because you have been registered with UAegean 
            Online Community Program through your eID provider (via eIDAS infastructure - 
            link to <a href="https://ec.europa.eu/cefdigital/wiki/display/EIDCOOPNET/eIDAS+Cooperation+Network">
                https://ec.europa.eu/cefdigital/wiki/display/EIDCOOPNET/eIDAS+Cooperation+Network
            </a> ). 
        </p>
        <p>
            We’ll only email you if we need to inform you on new tasks and changes to your project.
        </p>

        <p>
            This email is sent from an automated account which is not monitored and so we’re unable to respond to replies to this email..
        </p>

        <p>
            Thank you,
            The administration team 
        </p>

        <div>
          UAegean Online Community Student Program by i4m Lab
          <ul>
              <li>Software provided by Teem and SwellRT </li>
              <li>The use of eIDAS infrastructure for the authentication into this community has been  funded by the European Commission (CEF Programme -AGREEMENT No INEA/CEF/ICT/A2015/1147836)</li>
          </ul>
        </div>
    </body>
</html>