

.headerContainer{
    background: url(../img/header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

#header-logo{
    /*margin-left: 13em;*/
}


.swell-btn{
    width: 100%;
    margin-bottom: 1em;
}
.swell-btn:hover{
    color:whitesmoke;
}

.custom-footer{
    background-color: white!important;
    width:100%!important;
}


.footer-container{
    width:100%!important;
    font-size: x-small;
}

.cancel-btn{
    background-color: #BBEDC7;
    color: #6BA883;
}

.next-btn{
    background-color: #F5F271;
    color: #138C77;
}

.body{
    font-family: Open Sans; 
}

.breadCrumbs{
    font-size: 18px;
    color:  #00be9f;
    padding-left:0.7em;
}

#countrySelection-row{
    margin-bottom: 0px;
}

.sideBarClass{
    /*margin-top: 13em;*/
}
@media only screen and (max-width: 1000px) {
    .sideBarClass{
        margin-top: 0;
    }
    
    #companyLogo{
        padding-left:0!important;
    }
    
    #uAegeanLogo{
        adding-right: 2em!important;
    }
}


#eIDASbtn{
    background: url(../img/eidas_logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
}

#element{
    background: url(../img/element.png);
    background-size: 100%;;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
}

.dropdown-content.select-dropdown  > li > span{
    color: #039be5;
}

body > main > div > div > form > div > div.col.s12 > div:nth-child(3) > div.input-field.inline.col.s12 > label.active{
        color: #039be5;
}

/*#element-container{
    width: 100%;
    height: 10em;
    padding: 0px 5em 0 9em;
}*/